<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>{{ author.name }} Favorites</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col bg-secondary text-white p-3 text-center">
                <div class="row">
                    <h2 class='text-center'>{{ author.name }}'s Favorites</h2>
                </div>
                <table class="table">
                    <thead class="table table-dark">
                        <tr>
                            <th>Title</th>
                            <th>Page Count</th>
                        </tr>
                    </thead>
                    <tbody class="table table-light">
                        {% for fave in faves %}
                        <tr>
                            <td>{{ fave.title }}</td>
                            <td>{{ fave.num_of_pages }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
            <div class="col bg-secondary text-white p-3">
                <div class="row">
                    <h2>Add Favorites</h2>
                </div>
                <form action="/authors/add_fave" method='POST'>
                    <div class="form-group">
                        <label for="favorite" class='mb-1'>Book: </label>
                        <select name="favorite" id="favorite" class='form-control'>
                            {% for option in options %}
                            <option value="{{ option.id }}">{{ option.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type='submit' class='btn btn-primary border border-black m-3'>Create</button>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-4 text-center">
            <a href="/authors">Home</a>
        </div>
    </div>
</body>
</html>